body {
    font-size: .75em;
    position: relative;
}
.ui-tabs {
    padding: 0;
}
#busyModal {
    width: 100;
    height: 100;
    position: absolute;
    top: 100px;
    left: 100px;
    display: none;
    background-color: white;
    border: 2px solid gray;
    padding: auto;
}
