body {
    font-family: sans-serif;
    padding: 2px;
}
canvas {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
    /*transform: rotate(-90deg);*/
}
table caption {
    font-weight: bold;
}
table th, table td {
    padding: 0.25em;
}
#savedPlans li.plan {
    cursor: pointer;
}
#savedPlans li.selected, #savedPlans li:hover {
    background-color: powderblue;
}
#carrierSelect {
    width: 20%;
}
#originNexusSelect, #destinationNexusSelect {
    width: 35%;
}
#waypointSelector {
    padding: 10px;
    border: 1px solid black;
}
#tripBuilder table {
    width: 100%;
}