<!DOCTYPE html>
<html ng-app="etappe">
    <head>
        <title>Etappe</title>
        <link rel="stylesheet" href="etappe.css"/>
    </head>
    <body>
        <div id="trip" ng-controller="Trip">
            <span id="errors">{{ error }}</span>
            <div class="segmentSelect" ng-include="template">

            </div>
            <p>Date: today</p>
            <p>Time: now</p>
            <p>Plan your trip:</p>
            <p>
                <select id="carrierSelect" ng-model="carrierSelect" ng-options="carrier.name for carrier in carriers" ng-change="changeCarrier()">
                    <option value="">Choose a carrier</option>
                </select>
                <!--<select id="originStationSelect" ng-model="originStationSelect" ng-options="station.name for station in originStations" ng-change="changeOrigin()" ng-disabled="disableOrigin">-->
                    <!--<option value="">Choose an origin</option>-->
                <!--</select>-->
                <!--<select id="destinationStationSelect" ng-model="destinationStationSelect" ng-options="station.name for station in destinationStations" ng-change="changeDestination()" ng-disabled="disableDestination">-->
                    <!--<option value="">Choose a destination</option>-->
                <!--</select>-->
                <select id="originNexusSelect" ng-model="originNexusSelect" ng-options="key for (key , value) in originNexus" ng-change="originNexusChanged()" ng-disabled="disableOrigin">
                    <option value="">Choose an origin</option>
                </select>
                <select id="destinationNexusSelect" ng-model="destinationNexusSelect" ng-options="key for (key , value) in destinationNexus" ng-change="destinationNexusChanged()" ng-disabled="disableDestination">
                    <option value="">Choose a destination</option>
                </select>
            </p>
            <table id="plan">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>{{ originStationSelect.stopId }}</td>
                        <td>{{ destinationStationSelect.stopId }}</td>
                    </tr>
                    <tr>
                        <td>{{ originNexusSelect.stops }}</td>
                        <td>{{ destinationNexusSelect.stops }}</td>
                    </tr>
                <tr>
                    <td ng-model="nexusStart">{{ nexusStart }}</td>
                    <td ng-model="nexusEnd">{{ nexusEnd }}</td>
                </tr>
                </tbody>
            </table>
            <div ng-bind="rideList"></div>
            <div>
                <button id="planSave" ng-click="planSave()">save</button>
                <input type="text" ng-model="planSaveName"/>
            </div>
            <div><button ng-click="ridesRefresh()">Refresh</button></div>
            <div>
                <button id="planRestore" ng-click="planRestore()">Restore</button>
                <input type="text" ng-model="planRestoreName"/>
            </div>
            <div><button id="addSegment" ng-click="addSegment()">Add Segment</button></div>
            <div><button ng-click="ridesRefresh()">Refresh</button></div>
            <canvas utt-rides width="1200" height="200"></canvas>
         </div>
        <script src="lib/underscore.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-resource.js"></script>
        <script src="lib/angular-route.min.js"></script>
        <script src="etappe.js"></script>
        <script src="modules/plan/plan-controller.js"></script>
        <script src="modules/plan/module.js"></script>
        <script src="modules/plan/plan.js"></script>
        <script src="modules/plan/scaling.js"></script>
        <script src="modules/plan/canvas.js"></script>
        <script src="modules/plan/date.js"></script>
        <script src="modules/feed/sfmuni.js"></script>
    </body>
</html>